.save-button {
    background-color: #3E3E3E;
}

.save-button:disabled {
    background-color: #363636;
    color : #fff;
    opacity : 0.8
}

.save-button:disabled:hover {
    background-color: #363636;
    color : #fff;
    opacity : 0.8
}

.save-button:hover{
    background-color: #2e2e2e;
}

.cancel-button:hover {
    color : #2e2e2e !important;
    /* font-size: large; */
    border : 1px solid #2e2e2e
}