.back_image {
    margin-left : 8px
}

.navbar-height {
    height:  56px;
    position: fixed;
    top: 0;
    width: 100%;
    /* bottom : 100px */
}

.button_icon {
    margin : 1px 6px 0 -6px
}

.logout-button {
    color : #f0f0f0
}

.end-nav-item{
    padding : 8px 8px !important
}

.logout-button-content {
    width  : 88px; 
    justify-content : space-between; 
    display : flex;
    padding : 2px 4px
}

.close-button-container {
    display : flex; 
    justify-content : flex-end; 
    padding : 0 12px;
    color : #000
}